body {
  font-family: "Roboto", sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controlando {
  align-items: center;
}
@media screen and (ax-width: 767px) {
  .controlando {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .controlando {
    display: flex;
  }
}

.section0 {
  background-size: cover;
  background-image: url(./background.svg);
}

@keyframes logoanimation {
  from {
    left: 50vw;
    margin-left: -113px;
    top: 50vh;
    margin-top: -33px;
  }

  to {
    margin-left: 0;
    margin-top: 0;
    left: 10px;
    top: 10px;
  }
}
@keyframes logoanimationText {
  from {
    font-size: 60px;
  }

  to {
    font-size: 36px;
  }
}
@keyframes logoanimationImage {
  from {
    height: 40px;
    margin-right: 10px;
  }

  to {
    height: 24px;
    margin-right: 6px;
  }
}
.logoInicial {
  z-index: 1;
  animation: logoanimation 2s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50vw;
  margin-left: -113px;
  top: 50vh;
  margin-top: -33px;
}
.logoInicial h2 {
  font-size: 60px;
  color: white;
  margin: 0;
  animation: logoanimationText 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.logoInicial img {
  height: 40px;
  margin-right: 10px;
  animation: logoanimationImage 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes rotateMobileAnimation {
  from {
    opacity: 0;
    transform: rotate(20deg);
    margin-top: 0;
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
    margin-top: -240px;
  }
}
.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
.rotateMobile {
  animation: rotateMobileAnimation 1.3s ease-in-out;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
  transform: rotate(20deg);
  margin: 0;
  opacity: 0;
}
.paperDescription {
  background-color: white;
  border-radius: 2px;
  padding: 10px;
  box-shadow: rgba(66, 66, 66, 0.12) 0px 1px 6px,
    rgba(66, 66, 66, 0.12) 0px 1px 4px;
}
.paperDescription h2 {
  font-weight: 600;
  /* text-shadow: 1px 1px #006064; */
  margin: 10px 0;
  font-size: 20px;
  color: #006064;
}
.paperDescription p {
  font-size: 12px;
  color: #006064;
}
.paperDescription img {
  max-height: 35px;
  max-width: 35px;
  margin: auto;
  width: 100%;
}
.paperDescription .imageDiv {
  border-radius: 50%;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: rgba(66, 66, 66, 0.2) 0px 1px 6px,
    rgba(66, 66, 66, 0.2) 0px 1px 4px;
  height: 60px;
  width: 60px;
}
