body {
  font-family: "Roboto", sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fp-controlArrow.fp-prev {
  top: 50% !important;
  left: 25px !important;
  background-image: url(./svg/002-left-arrow.svg) !important;
  margin-top: -13px !important;
  width: 26px !important;
  height: 26px !important;
  z-index: 5 !important;
  background-size: cover !important;
  border-width: 0 !important;
}
.fp-controlArrow.fp-next {
  top: 50% !important;
  right: 25px !important;
  background-image: url(./svg/001-right-arrow.svg) !important;
  margin-top: -13px !important;
  width: 26px !important;
  height: 26px !important;
  z-index: 5 !important;
  background-size: cover !important;
  border-width: 0 !important;
}
/* .fp-controlArrow.fp-prev {
  z-index: 5;
  
}
.fp-controlArrow.fp-next {
  z-index: 5;
  background-image: url(line-chart.svg) !important;
} */

.controlando {
  align-items: center;
}
@media screen and (ax-width: 767px) {
  .controlando {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .controlando {
    display: flex;
  }
}

.section0 {
  background-size: cover;
  background-image: url(./background.svg);
}

/*xs*/
@media screen and (max-width: 575.98px) {
  .backgroundImage1 {
    min-height: 45vh;
    background-image: url(./imagensUF/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
  .backgroundImage2 {
    min-height: 45vh;
    background-image: url(./imagensUF/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
  .backgroundImage3 {
    min-height: 45vh;
    background-image: url(./imagensUF/04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
}

/*sm*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .backgroundImage1 {
    min-height: 45vh;
    background-image: url(./imagensUF/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
  .backgroundImage2 {
    min-height: 45vh;
    background-image: url(./imagensUF/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
  .backgroundImage3 {
    min-height: 45vh;
    background-image: url(./imagensUF/04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
}

/*md*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .backgroundImage1 {
    min-height: 45vh;
    background-image: url(./imagensUF/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
  .backgroundImage2 {
    min-height: 45vh;
    background-image: url(./imagensUF/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
  .backgroundImage3 {
    min-height: 45vh;
    background-image: url(./imagensUF/04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10px;
  }
}
/*others*/
@media screen and (min-width: 992px) {
  .backgroundImage1 {
    min-height: 100vh;
    background-image: url(./imagensUF/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 1px solid white;
    padding-left: 15px;
  }
  .backgroundImage2 {
    min-height: 50vh;
    background-image: url(./imagensUF/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 15px;
  }
  .backgroundImage3 {
    min-height: 50vh;
    background-image: url(./imagensUF/04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-left: 1px solid white;
    border-top: 1px solid white;
    padding-left: 15px;
  }
}
#section1 {
  background-image: url("./svg/newcity.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@keyframes logoanimation {
  from {
    left: 50vw;
    margin-left: -113px;
    top: 50vh;
    margin-top: -33px;
  }

  to {
    margin-left: 0;
    margin-top: 0;
    left: 10px;
    top: 10px;
  }
}
@keyframes logoanimationText {
  from {
    font-size: 60px;
  }

  to {
    font-size: 36px;
  }
}
@keyframes logoanimationImage {
  from {
    height: 40px;
    margin-right: 10px;
  }

  to {
    height: 24px;
    margin-right: 6px;
  }
}
.logoInicial {
  z-index: 1;
  animation: logoanimation 2s ease-in-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50vw;
  margin-left: -113px;
  top: 50vh;
  margin-top: -33px;
}
.logoInicial h2 {
  font-size: 60px;
  color: white;
  margin: 0;
  animation: logoanimationText 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.logoInicial img {
  height: 40px;
  margin-right: 10px;
  animation: logoanimationImage 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes rotateMobileAnimation {
  from {
    opacity: 0;
    transform: rotate(20deg);
    margin-top: 0;
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
    margin-top: -240px;
  }
}
.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
.rotateMobile {
  animation: rotateMobileAnimation 1.3s ease-in-out;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
  transform: rotate(20deg);
  margin: 0;
  opacity: 0;
}
.paperDescription {
  max-width: 300px;
  background-color: white;
  border-radius: 2px;
  padding: 10px;
  box-shadow: rgba(66, 66, 66, 0.12) 0px 1px 6px,
    rgba(66, 66, 66, 0.12) 0px 1px 4px;
}
.paperDescription h2 {
  font-weight: 600;
  /* text-shadow: 1px 1px #006064; */
  margin: 10px 0;
  font-size: 20px;
  color: #006064;
}
.paperDescription p {
  font-size: 12px;
  color: #006064;
}
.paperDescription img {
  max-height: 35px;
  max-width: 35px;
  margin: auto;
  width: 100%;
}
.paperDescription .imageDiv {
  border-radius: 50%;
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: rgba(66, 66, 66, 0.2) 0px 1px 6px,
    rgba(66, 66, 66, 0.2) 0px 1px 4px;
  height: 60px;
  width: 60px;
}
